.title{
    color:rgb(237, 237, 30);
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    font-weight: 15px;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.class{
    font-size: 100px;
}
.username{
    color:rgb(237, 237, 30);
    width:500px;
    height:30px;
    border-width: 1px;
}
.pw{
    border-radius: 10px;
    color:rgb(0, 0, 0);
    width:500px;
    height:30px;
    border-width:1px;
}
.password{
    color:rgb(237, 237, 30);
}
.un{
    border-radius: 10px;
    color:rgb(0, 0, 0);
    width:500px;
    height:30px;
    border-width:1px;
}
.submit{
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 40px;
    margin-bottom: 20px;
    background-color: rgb(237, 237, 30);
    color: rgb(0, 0, 0);
    padding-top: 10px;
    padding-left: 10px;
    padding-right:10px;
    padding-bottom: 10px;
    cursor: pointer;
    border-width: 1.5px;
    height: 50px;
    width: 80px;
    font-size: 15px;
}
div.navbar{
    text-align: center;
    background-color: yellow;
    color: black;
}
.home,.quiz,.lb,.as,.pf{
    text-decoration: none;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 30px;
    color: black;
}
a{
    text-decoration: none;
}