.title{
    color:rgb(0, 0, 0);
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    font-weight: 20px;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.class{
    font-size: 100px;
}
.username{
    color:lightblue;
    width:500px;
    height:30px;
    border-width: 1px;
}
.pw{
    border-radius: 10px;
    color:rgb(0, 0, 0);
    width:500px;
    height:30px;
    border-width:1px;
}
.password{
    color:lightblue;
    width:500px;
    height:30px;
    border-width: 1px;
}
.un{
    border-radius: 10px;
    color:rgb(0, 0, 0);
    width:500px;
    height:30px;
    border-width:1px;
}
.login{
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 40px;
    margin-bottom: 20px;
    background-color: rgb(237, 237, 30);
    color: rgb(0, 0, 0);
    padding-top: 10px;
    padding-left: 10px;
    padding-right:10px;
    padding-bottom: 10px;
    cursor: pointer;
    border-width: 1.5px;
    height: 50px;
    width: 80px;
    font-size: 15px;
}
div.navbar{
    text-align: center;
    background-color: yellow;
    color: black;
}
.home,.quiz,.lb,.as,.pf{
    text-decoration: none;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 30px;
    color: black;
}
a{
    text-decoration: none;
}
#quiz1,#quiz7{
    background-color: lightblue;
}
#quiz1:hover,#quiz7:hover{
    background-color: rgb(255, 252, 95);
}
#enterquiz:hover{
    background-color: rgb(110, 198, 78);
}
/* I wanted to add a feature where the quiz button in the assignment tab changes colour when your cursor is placed over it, and the "Try Quiz" button also changes 
colour when the cursor is placed over it but I could not add it because i could not push my changes */
